@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: 'Inter', 'League Spartan', 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.small-btn {
    padding: 4px 8px;
    /* Reduces height and width */
    font-size: 12px;
    /* Smaller text */
}

.navbar {
    height: 5rem;
    background-color: white;
}

.container {
    flex: 1;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}


/* Cards */

.card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400px;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.small-image {
    width: 20rem;
    /* Set a fixed width */
    height: 20rem;
    /* Set a fixed height */
    object-fit: cover;
    border-radius: 10px;
    /* Ensures the image fills the space without distortion */
}

.delete-btn {
    background-color: #e74c3c;
    /* Red color for delete action */
    color: white;
    /* White text */
    border: none;
    /* Remove default border */
    padding: 6px 14px;
    /* Vertical and horizontal padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 14px;
    /* Text size */
    cursor: pointer;
    /* Hand cursor on hover */
    text-transform: uppercase;
    /* Make text all caps */
}

.delete-btn:hover {
    background-color: #c0392b;
    /* Darker red on hover */
}

/* Edit Page */
.edit-btn {
    background-color: #fe424d;
    border: none !important;
}

#map {
    height: 400px;
    width: 60vh;
}